* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    color: white; /* Устанавливаем белый цвет для всех текстов по умолчанию */
}

body {
    background: url('../img/background.png') no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 7%;
}

header .logo {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    transition: .5s;
}

header .logo:hover {
    transform: scale(1.2);
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a {
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    display: block;
}

header nav ul li a:hover {
    background: #fff;
    color: #000;
}

nav ul li ul {
    border-radius: 10px;
    position: absolute;
    left: 0;
    width: 180px;
    background: #000000;
    display: none;
    background-size: cover;
}

nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:hover > ul {
    display: initial;
}

.center {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 20%;
    top: 30%; /* Поднял выше */
    transform: translate(-50%, -30%);
    padding: 20px;
    border-radius: 10px;
}

.contact-list {
    list-style-type: none;
    padding: 10px;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.contact-list a img {
    width: 30px; /* Подстройте размеры иконок по необходимости */
    margin-right: 10px;
}

.contact-list a:hover {
    font-weight: bold;
    color: #ffffff; /* Цвет текста при наведении */
}

.description-container {
    background-color: #000; /* Матовый цвет контейнера */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    position: absolute;
    bottom: 31%; /* Позиционирование ближе к низу */
    right: 5%; /* Позиционирование ближе к правому краю */
    text-align: left;
    color: 000; /* Белый цвет текста */
}
