/* main/css/order_history.css */

/* Основные стили для всей страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Основной контейнер */
.container {
    width: 80%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Заголовки */
h1, h2 {
    color: #333;
}

h1 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

/* Таблица заказов */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #f9f9f9;
    color: #555;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Список заказанных пицц */
ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li img {
    max-width: 100px;
    margin-right: 20px;
}

li div {
    flex: 1;
}

/* Общая стоимость */
.total-cost {
    font-size: 1.2em;
    font-weight: bold;
}

/* Ссылка "Вернуться к меню" */
.back-to-menu {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-to-menu:hover {
    background: #555;
}
