{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" href="{% static 'main/css/cart.css' %}">
</head>
<body>
    <a href="/pizza" class="back">Назад</a>
    <h1>Корзина</h1>
    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li class="cart-item">
                    <img src="{{ item.pizza.image.url }}" alt="{{ item.pizza.name }}">
                    <div class="cart-item-details">
                        <h3>{{ item.pizza.name }}</h3>
                        <p>Цена: {{ item.pizza.price }}₽</p>
                        <p>Количество: {{ item.quantity }}</p>
                    </div>
                    <div class="cart-item-price">{{ item.get_total_price }}₽</div>
                    <form action="{% url 'remove_from_cart' item.pizza.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="action" value="subtract">-</button>
                        <button type="submit" name="action" value="add">+</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <p>Общая сумма: {{ total_price }}₽</p>
        <form action="{% url 'time_place' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="order-btn">Оформить заказ</button>
        </form>
    {% else %}
        <p>Корзина пуста</p>
    {% endif %}
</body>
</html>
