{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaGalactica</title>
    <link rel="stylesheet" href="{% static 'main/css/lk.labinet.css' %}">
    <style>
        .button-container {
            margin: 20px;
        }
        input[type="text"], button {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="button-container">
        <button class="button">Личный кабинет</button>
        
        <!-- Форма для изменения имени пользователя -->
        <div>
            <form>
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" value="Текущее имя">
                <button type="submit">Сохранить изменения</button>
            </form>
        </div>
        <div>
            <form>
                <label for="username">пароль:</label>
                <input type="text" password ="password">
                <button type="submit">Сохранить изменения</button>
            </form>
        </div>
        <div>
            <form>
                <label for="username">почта :</label>
                <input type="text" id="username" name="username" value="Текущее имя">
                <button type="submit">Сохранить изменения</button>
            </form>
        </div>
        <div>
            <form>
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" value="Текущее имя">
                <button type="submit">Сохранить изменения</button>
            </form>
        </div>
    </div>
</body>
</html>
