<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="1404945.ico" type="image/x-icon">  
    <title>PizzaGalactica</title>
</head>
<body>
    <div class="button-container">
        <button class="button">История заказов</button>
        <button class="button">Изменить имя пользователя</button>
        <button class="button">Изменить пароль</button>
        <button class="button">Изменить почту</button>
        <button class="button">Изменить логин</button>
    </div>
</body>
</html>
