{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'main/css/password_change.css' %}">
</head>
<body>
    <a href="/" class="logo">Galactic Pizza</a>

    <div class="container">
        <form method="post" action="{% url 'password_change' uidb64=uidb64 token=token %}">
            {% csrf_token %}
            <h1>Восстановление забытого пароля</h1>

            <div class="input-box">
                <input type="password" name="password1" placeholder="пароль" required />
            </div>

            <div class="input-box">
                <input type="password" name="password2" placeholder="пароль" required />   
            </div>

            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn">Изменить пароль</button>
        </form>
    </div>
</body>
</html>