{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отправка данных</title>
    <link rel="stylesheet" href="{% static 'main/css/time_place.css' %}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const deliveryTimeInput = document.getElementById("delivery_time");
            const now = new Date();
            now.setMinutes(now.getMinutes() + 30);
            const hours = now.getHours().toString().padStart(2, '0');
            const minutes = now.getMinutes().toString().padStart(2, '0');
            deliveryTimeInput.min = `${hours}:${minutes}`;
        });

        document.addEventListener("DOMContentLoaded", function() {
            const form = document.querySelector("form");
            form.addEventListener("submit", function(event) {
                const addressInput = document.getElementById("delivery_address");
                const address = addressInput.value.trim();
                
                // Проверяем, что адрес содержит как минимум два слова
                const addressWords = address.split(/\s+/);
                if (addressWords.length < 2) {
                    alert("Пожалуйста, введите полный адрес доставки, содержащий как минимум два слова.");
                    event.preventDefault();
                    return;
                }

                // Проверяем, что адрес содержит хотя бы одну цифру
                const containsDigit = /\d/.test(address);
                if (!containsDigit) {
                    alert("Пожалуйста, введите адрес, содержащий хотя бы одну цифру.");
                    event.preventDefault();
                    return;
                }
            });
        });
    </script>
</head>
<body>
    <h1>Отправка данных</h1>
    <form action="{% url 'complete_order' %}" method="post">
        {% csrf_token %}
        <label for="delivery_time">Время доставки:</label>
        <input type="time" id="delivery_time" name="delivery_time" required>

        <label for="delivery_address">Адрес доставки:</label>
        <input type="text" id="delivery_address" name="delivery_address" required>

        <button type="submit">Оформление заказа</button>
    </form>
</body>
</html>
